.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-movie {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox {
    margin: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .delete-button {
    background-color: #ff0000;
  }
  
  .update-input {
    width: 100%;
  }
  
  .update-button {
    background-color: #00ff00;
  }
  